.flex{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    
}
h1{
    color: azure;
}
.routes{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;

}


.details:link,.details:hover,.details:visited,.details:active{
    color:azure;
    display: block;
    text-decoration: none;
    font-size: 18px;
}
.logo:link,.logo:hover,.logo:visited,.logo:active{
    color:azure;
    display: block;
    text-decoration: none;
    font-size: 30px;
}